<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/dashboard-user.css">
</head>
<body>
<div>
    <a th:href="@{/dashboard/me}">My account</a>
    <h2>Ваши проекты:</h2>
    <ul>
        <li th:each="project : ${projects}">
            <a th:href="@{/dashboard/project/{id}(id = ${project.id})}">
                <p th:text="${project.name}"></p>
                <p th:text="${project.createdDate}"></p>
            </a>
        </li>
    </ul>
</div>
</body>
</html>