<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create user</title>
  <link rel="stylesheet" href="/user-create.css">
</head>
<body>
<form th:action="@{/project-repository/create-user}" th:object="${user}" method="post">
  <label for="username">Username</label>
  <input type="text" th:field="*{username}" id="username">
  <br>
  <label for="email">Email</label>
  <input type="text" th:field="*{email}" id="email">
  <br>
  <label for="password">Password</label>
  <input type="text" th:field="*{password}" id="password">
  <br>
  <label for="role">Role</label>
  <select name="role" id="role">
    <option value="USER">USER</option>
    <option value="ADMIN">ADMIN</option>
  </select>
  <input type="submit" value="Create!">
</form>
</body>
</html>